@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are the fastest growing hotel recommendation organization. If you are our customer, we value your sentiments and provide you the best possible recommendations based on your taste. Yes, we value our relations and never forget what you like. You can explore our hotels and check out all the online suggestions based on available reviews. Our system is based on trust and values..</p>
