@model  HotelSystem.Models.AdminViewModel
@{
    ViewBag.Title = "Review";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div>
    <h4> Network Activity Prediction  </h4>
    <br /><br /><br /><br />
    <h2>
        Classified Category : @Html.DisplayFor(m => m.hotel_cluster)
    </h2>
   

</div>