@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div>
    <br/>
    <address>
        Northeastern University<br />
        Boston, MA 02115<br />
    </address>

    <address>
        <strong>Amitha Murali:</strong>   <a href="mailto:murali.a@husky.neu.edu">murali.a@husky.neu.edu</a><br />
        <strong>Divyansh Srivastava:</strong> <a href="mailto:srivastava.d@husky.neu.edu">srivastava.d@husky.neu.edu</a><br />
        <strong>Jyoti Sharma:</strong> <a href="mailto:sharma.j@husky.neu.edu">sharma.j@husky.neu.edu</a><br />
    </address>
    
    <address>
        <h3>Course Instructor :</h3>
        <strong>Srikanth Krishnamurthy</strong>
    </address>
    <br />

</div>