@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
@if (!(Request.IsAuthenticated && (User.Identity.GetUserName().Equals("alpha@hotel.com")
                                || User.Identity.GetUserName().Equals("divyansh@hotel.com") || User.Identity.GetUserName().Equals("amitha@hotel.com")
                                || User.Identity.GetUserName().Equals("prateek@hotel.com") || User.Identity.GetUserName().Equals("sri@hotel.com"))))
{
    <div class="cleaner_h30">&nbsp;</div>
        <div class="cleaner_horizontal_divider_01">&nbsp;</div>
        <div class="cleaner_h30">&nbsp;</div>
        <div class="content_right_section">
            @Html.Partial("_LoginPartial")
            <br /><br /><br />
            <div class="container">
                We are the fastest growing hotel recommendation organization. If you are our customer, we value your sentiments and provide you
                the best possible recommendations based on your taste. Yes, we value our relations and never forget what you like.
                You can explore our hotels and check out all the online suggestions based on available reviews. Our system is based on trust and values. 

            </div>
        </div>
    if (Request.IsAuthenticated)
    {
        <h3>Welcome back. Lets start where we left last time.</h3>

        <h3>We have some recommendations for you</h3>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
        <script type="text/javascript">
$(function(){
    $('#button').click(function(){
        if(!$('#iframe').length) {
                $('#iframeHolder').html('<iframe id=\"iframe\" src=\"/Home/Result\" width=\"700\" height=\"450\"></iframe>');
        }
    });
});
        </script>

        <a id="button">Button</a>
        <div id="iframeHolder"></div>
                        <div class="cleaner_h20">&nbsp;</div>
        if (!(User.Identity.GetUserName().Equals("alpha@hotel.com")
                               || User.Identity.GetUserName().Equals("divyansh@hotel.com") || User.Identity.GetUserName().Equals("amitha@hotel.com")
                               || User.Identity.GetUserName().Equals("jyoti@hotel.com")
                                || User.Identity.GetUserName().Equals("prateek@hotel.com") || User.Identity.GetUserName().Equals("sri@hotel.com")))
        {
            <marquee>
                Out goal is to provide the best holiday place for you and your family. We care for you.
                If you do not get what you want,
                Please call our business team to analyze your need and suggest you what type of hotel fits your need.
            </marquee>
        }
        <iframe id='ifr' frameborder="0" scrolling="no" width="650" height="800"></iframe>
            }
            else
            {
            <h4>
                Our system is free to join, we invite you to be a part of our system and enjoy the resources collected over a large amount of time.
                Go Ahead, click on Register!!
            </h4>
            <marquee>
                Out goal is to provide the best holiday place for you and your family. We care for you.
            </marquee>
            }
            <div class="cleaner">&nbsp;</div>

            <div class="cleaner_h20">&nbsp;</div>
            <script type="text/javascript">
                $('iframe').load(function () {
                    this.style.backgroundImage = "";
                });
            </script>

            }
            else
            {
            @Html.Partial("Business")
            }



            <!-- end of content right -->
            <div class="cleaner">&nbsp;</div>
