@{
    ViewBag.Title = "Final Hotel Analytics Report";
}
<br/>
<h3>@ViewBag.Message</h3>
<hr/>
@Html.Partial("_LoginPartial")
<center>
    <iframe src='~/Content/Report.pdf' width="810" height="900" scrolling="yes" frameborder="1"></iframe>
</center>



